body{
  background-color:rgb(215,214,209);

}
.App {
  text-align: center;

  background-color:rgb(215,214,209);
}

.App_container {
  min-width: 600px;
  margin:2.5%;
  margin-left:15%;
  margin-right:15%;
  background-color:rgb(237,236,237);
height: 85vh;
box-shadow: 0 0 10px ;

display: flex;
place-items: center;
}